---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
                
<h3 id="welcome">Profile：</h3>

<ul>
  <font color="black">I am currently a full professor and department head of Department of Statistics and Data Sciencen, School of Economics and Wang Yanan Institute of Economics 
    at Xiamen University.  I received my PhD in Statistics from Pennsylvania State University in 2012, and was promoted to Associate Professor and Full Professor in 2014 and 2017, 
    respectively. My research interests include variable selection and statistical inference of high-dimensional data, statistical learning algorithms, econometrics as well as 
    applications of statistics and data science. I have published more than 30 journal papers in The Annals of Statistics, Journal of the American Statistical Association,  Biometrika, 
    Journal of Econometrics, Journal of Business & Economic Statistics, Annals of Applied Statistics, Biometrics, Statistica Sinica, Chinese Science Mathematics, etc.
    I serve as Associate Editors for several statistical and mathematical journals including Journal of the American Statistical Association,
    Statistical Analysis and Data Mining, etc.    
</ul>
            
            
<h3 id="published-and-forthcoming-papers">Publications:</h3>
<details>
  <summary><font color="blue">Feature Screening for Interval-Valued Response with Application to Study Association between Posted Salary and Required Skills</font>
<br>
  <font color="black"><b><i>Journal of the American Statistical Association</i></b>, 2023</font></summary>
  
</details>
<p><a href="https://www.tandfonline.com/doi/abs/10.1080/01621459.2022.2152342?journalCode=uasa20" target="_blank"><u>[Publisher]</u></a> </p>
            
<hr>   
            
<details>
  <summary><font color="blue">Projection Test for Mean Vector in High Dimensions</font>
<br>
  <font color="black"><b><i>Journal of the American Statistical Association</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://www.tandfonline.com/doi/abs/10.1080/01621459.2022.2142592?journalCode=uasa20" target="_blank"><u>[Publisher]</u></a> </p>
                
<hr>    
<details>
  <summary><font color="blue">Time-varying Minimum Variance Portfolio</font>
<br>
  <font color="black"><b><i>Journal of Econometrics</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0304407622001646" target="_blank"><u>[Publisher]</u></a> </p>
            
<hr>    
            
<details>
  <summary><font color="blue">A Multi-Kink Quantile Regression Model with Common Structure for Panel Data Analysis</font>
<br>
  <font color="black"><b><i>Journal of Econometrics</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0304407622001178" target="_blank"><u>[Publisher]</u></a> </p>
                
<hr>    
<details>
  <summary><font color="blue">Efficient Learning of Quadratic Variance Function Directed Acyclic Graphs via Topological Layers</font>
<br>
  <font color="black"><b><i>Journal of Computational and Graphical Statistics</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://cogentoa.tandfonline.com/doi/abs/10.1080/10618600.2022.2069776?journalCode=ucgs20" target="_blank"><u>[Publisher]</u></a> </p>
            
<hr>    
<details>
  <summary><font color="blue">Multi-Kink Quantile Regression for Longitudinal Data with Application to Progesterone Data Analysis</font>
<br>
  <font color="black"><b><i>Biometrics</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://onlinelibrary.wiley.com/doi/10.1111/biom.13667" target="_blank"><u>[Publisher]</u></a> </p>
        
<hr>    
<details>
  <summary><font color="blue">Estimation and Inference for Multi-Kink Quantile Regression</font>
<br>
  <font color="black"><b><i>Journal of Business & Economic Statistics</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://www.tandfonline.com/doi/abs/10.1080/07350015.2021.1901720?journalCode=ubes20" target="_blank"><u>[Publisher]</u></a> </p>
    
<hr>    
<details>
  <summary><font color="blue">Conditional Test for Ultrahigh Dimensional Linear Regression Coefficients</font>
<br>
  <font color="black"><b><i>Statistica Sinica</i></b>, 2022</font></summary>
  
</details>
<p><a href="https://www3.stat.sinica.edu.tw/statistica/J32N3/J32N310/J32N310.html" target="_blank"><u>[Publisher]</u></a> </p>

    
<hr>
<details>
  <summary><font color="blue">Forward Additive Regression for Ultrahigh Dimensional Nonparametric Models</font>
<br>
  <font color="black"><b><i>Statistica Sinica</i></b>, 2020</font></summary>
  
</details>
<p><a href="https://www3.stat.sinica.edu.tw/preprint/SS-2017-0083_Preprint.pdf#:~:text=a%20forward%20additive%20regression%20%28FAR%29%20procedure%20for%20ultrahigh-dimensional,the%20predictor%20that%20corresponds%20to%20the%20minimum%20RSS." target="_blank"><u>[Publisher]</u></a> </p>


<hr>
<details>
  <summary><font color="blue">A Lack-of-fit Test In Sufficient Dimension Reduction of Conditional Mean for Ultrahigh Dimensional Data</font>
<br>
  <font color="black"><b><i>Statistica Sinica</i></b>, 2020 </font></summary>

</details>
<p><a href="https://www.semanticscholar.org/paper/A-Lack-Of-Fit-Test-with-Screening-in-Sufficient-Zhang-Zhong/5dd642cdbee4943154d4fe6ba3fcccbc74018943" target="_blank"><u>[Publisher]</u></a> </p>

    
<hr>
<details>
  <summary><font color="blue">Composite Coefficient of Determination and Its Application in Ultrahigh Dimensional Variable Screening</font>
<br>
  <font color="black"><b><i>Journal  of the American Statistical Association</i></b>, 2019 </font></summary>

</details>
<p><a href="https://www.tandfonline.com/doi/abs/10.1080/01621459.2018.1514305?journalCode=uasa20" target="_blank"><u>[Publisher]</u></a> </p>


<hr>
<details>
  <summary><font color="blue">Test for High Dimensional Regression Coefficients Using Refitted Cross-validation Variance Estimation</font>
<br>
  <font color="black"><b><i>The Annals of Statistics</i></b>, 2018 </font></summary>

</details>
<p><a href="https://projecteuclid.org/journals/annals-of-statistics/volume-46/issue-3/Test-for-high-dimensional-regression-coefficients-using-refitted-cross-validation/10.1214/17-AOS1573.full" target="_blank"><u>[Publisher]</u></a> </p>

    
<hr>
<details>
  <summary><font color="blue">Nonparametric Additive Instrumental Variable Estimator: A Group Shrinkage Estimation Perspective</font>
<br>
  <font color="black"><b><i>Journal of Business & Economic Statistics</i></b>, 2018 </font></summary>

</details>
<p><a href="https://www.tandfonline.com/doi/abs/10.1080/07350015.2016.1180991?journalCode=ubes20" target="_blank"><u>[Publisher]</u></a> </p>

<hr>
<details>
  <summary><font color="blue">Projection correlation between two random vectors</font>
<br>
  <font color="black"><b><i>Biometrika</i></b>, 2017 </font></summary>

</details>
<p>
<a href="https://pubmed.ncbi.nlm.nih.gov/29430040/" target="_blank"><u>[Publisher]</u></a> /
<a href="https://github.com/wzhong41/ProjectionCorrelation" target="_blank"><u>[Code and Data]</u></a>
</p>


<hr>
<details>
  <summary><font color="blue">Regularized Quantile Regression and Robust Feature Screening for Single Index Models</font>
<br>
  <font color="black"><b><i>Statistica Sinica</i></b>, 2016 </font></summary>

</details>
<p><a href="https://pubmed.ncbi.nlm.nih.gov/26941542/" target="_blank"><u>[Publisher]</u></a> </p>



<hr>
<details>
  <summary><font color="blue">Model-Free Feature Screening for Ultrahigh Dimensional Discriminant Analysis</font>
<br>
  <font color="black"><b><i>Journal of the American Statistical Association</i></b>, 2015 </font></summary>

</details>
<p><a href="https://www.tandfonline.com/doi/abs/10.1080/01621459.2014.920256?journalCode=uasa20" target="_blank"><u>[Publisher]</u></a> </p>


            <!-- 
            <hr>
            <details>
             <summary><font color="blue">Variable Selection for Structural Equation with Endogeneity</font>
            <br>
            <font color="black"><b><i>Journal of Systems Science and Complexity</i></b>, 2018 </font></summary>

            </details>
            <p><a href="https://link.springer.com/article/10.1007/s11424-017-6195-4" target="_blank"><u>[Publisher]</u></a> </p>

             <hr>
            <details>
             <summary><font color="blue">Variable Selection and Direction Estimation for Single-Index Models via DC-TGDR Method</font>
            <br>
            <font color="black"><b><i>Statistics and Its Interface</i></b>, 2018 </font></summary>

            </details>
            <p><a href="https://www.intlpress.com/site/pub/pages/journals/items/sii/content/vols/0011/0001/a014/" target="_blank"><u>[Publisher]</u></a> </p>

            <hr>
            <details>
            <summary><font color="blue">Model Selection for High-Dimensional Problems</font>
            <br>
            <font color="black"><b><i>Handbook of Financial Econometrics and Statistics</i></b>, 2015 </font></summary>

            </details>
            <p><a href="https://https://link.springer.com/referenceworkentry/10.1007/978-1-4614-7750-1_77" target="_blank"><u>[Publisher]</u></a> </p>
    
            <hr>
            <details>
            <summary><font color="blue">A Selective Overview of Feature Screening for Ultrahigh-Dimensional Data</font>
            <br>
            <font color="black"><b><i>Science China Mathematics</i></b>, 2015 </font></summary>

            </details>
            <p><a href="https://www.semanticscholar.org/paper/A-selective-overview-of-feature-screening-for-data.-Jingyuan-Wei/3d9d6f0baa1405c9a157227410581b6892d90a25" target="_blank"><u>[Publisher]</u></a> </p>
            <hr>
            <details>
            <summary><font color="blue">Estimation and Inference on Central Mean Subspace for Multivariate Response Data</font>
            <br>
             <font color="black"><b><i>Computational Statistics & Data Analysis</i></b>, 2015 </font></summary>

            </details>
            <p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0167947315001231" target="_blank"><u>[Publisher]</u></a> </p>


            -->

            <!-- 
            <details>
            <summary><font color="blue">An Iterative Approach to Distance Correlation Based Sure Independence Screening</font>
            <br>
             <font color="black"><b><i>Journal of Statistical Computation and Simulation</i></b>, 2015 </font></summary>

            </details>
            <p><a href="https://www.tandfonline.com/doi/abs/10.1080/00949655.2014.928820?journalCode=gscs20" target="_blank"><u>[Publisher]</u></a> </p>

            <hr>
            -->
    
            <!-- 
            <details>
            <summary><font color="blue">Robust Sure Independence Screening for Ultrahigh Dimensional Non-normal Data</font>
                <br>
             <font color="black"><b><i>Acta Mathematica Sinica</i></b>, 2014 </font></summary>

            </details>
            <p><a href="https://link.springer.com/article/10.1007/s10114-014-3694-2" target="_blank"><u>[Publisher]</u></a> </p> 
            -->


<hr>
<details>
  <summary><font color="blue">A Fast Algorithm for Detecting Gene-Gene Interactions in Genome-Wide Association Studies</font>
<br>
  <font color="black"><b><i>Annals of Applied Statistics</i></b>, 2014 </font></summary>

</details>
<p><a href="https://pubmed.ncbi.nlm.nih.gov/26457126/" target="_blank"><u>[Publisher]</u></a> </p>

<hr>
<details>
  <summary><font color="blue">Feature Screening via Distance Correlation Learning</font>
<br>
  <font color="black"><b><i>Journal of the American Statistical Association</i></b>, 2012 </font></summary>

</details>
<p><a href="https://pubmed.ncbi.nlm.nih.gov/25249709/" target="_blank"><u>[Publisher]</u></a> </p>

<hr>
<details>
  <summary><font color="blue">Assessing Mediation Using Marginal Structural Models in the Presence of Confounding and Moderation</font>
<br>
  <font color="black"><b><i>Psychological Methods</i></b>, 2012 </font></summary>

</details>
<p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3553264/" target="_blank"><u>[Publisher]</u></a> </p>
<hr>
  

          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
